body{
  margin:0px; background: url(http://img.sc115.com/uploads/sc/jpgs/0707apic4659_sc115.com.jpg) no-repeat; background-size:100% 100%; background-attachment:fixed;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color:white;
}
.container{
  padding-top:30px;
  padding-bottom:30px;
  max-width:768px;
  min-width:270px;
}
.center{
  text-align:center;
}
.main-content{
  font-size:1.5em;
  height:200px;
}
.row{
  margin-bottom:50px;
}

.btn, .btn:hover {
  border: 1px solid #bdbdbd;
  box-shadow: 0 5px 0 #bdbdbd;
  font-weight: 500;
  margin-bottom: 5em;
  padding: 0 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn:active, .btn:focus {
  border-style: none;
  box-shadow: 0 0 0 1px #bdbdbd inset,
    0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 3px 1px rgba(0, 0, 0, .1);
  position: relative;
  top: 4px;
}
i{
  color:white;
}